<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzw.dao.datasta.PublicStaDao">
	<resultMap id="publicStaMap"
		type="com.gzw.entity.datasta.PublicSta">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="publicStaruleNum" property="publicStaruleNum"
			jdbcType="VARCHAR" />
		<result column="publicStaruleName" property="publicStaruleName"
			jdbcType="VARCHAR" />
		<result column="ruleDescription" property="ruleDescription"
			jdbcType="VARCHAR" />
		<result column="remark" property="remark"
			jdbcType="VARCHAR" />
		
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="createPersonName" property="createPersonName"
			jdbcType="VARCHAR" />
		<result column="createPersonId" property="createPersonId"
			jdbcType="VARCHAR" />
		<result column="createDate" property="createDate"
			jdbcType="VARCHAR" />
		<result column="lastModifyPersonId"
			property="lastModifyPersonId" jdbcType="VARCHAR" />
		<result column="lastModifyPersonName"
			property="lastModifyPersonName" jdbcType="VARCHAR" />
		<result column="lastModifyDate" property="lastModifyDate"
			jdbcType="VARCHAR" />
		<result column="isDel" property="isDel" jdbcType="BIT" />

	</resultMap>
	<!-- 删除信息 -->
	<update id="deletePublicStaInfoById"
		parameterType="java.lang.Integer">
		update publicl_starules t
		<set>isDel=1
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 根据查询条件获取产权基本信息列表 -->
	<select id="getPublicStaInfoByConditions"
		resultMap="publicStaMap"
		parameterType="com.gzw.entity.datasta.PublicSta">
		select * from publicl_starules t 
		<where>
			<!-- t.isDel = 0 and t.isHistory = '0' and t.isLastest = '1' -->
			<if test="publicStaruleName != null and  publicStaruleName != ''">
				<bind name="publicStaruleName" value="'%' + publicStaruleName + '%'" />
				and t.publicStaruleName like #{publicStaruleName}
			</if>
			<if test="publicStaruleNum != null and  publicStaruleNum != ''">
				<bind name="publicStaruleNum" value="publicStaruleNum" />
				and t.publicStaruleNum = #{publicStaruleNum}
			</if>
			<if test="isDel != null">
				<bind name="isDel" value="isDel" />
				and t.isDel = #{isDel}
			</if>
		</where>
		<!-- order by t.createDate DESC -->
		order by t.id ASC 
	</select>

	<!-- 根据ID查找信息 -->
	<select id="getPublicStaInfoById"
		resultMap="publicStaMap" parameterType="java.lang.Integer">
		select * from
		publicl_starules t where t.id = #{id} and t.isDel = 0
	</select>

 
	<select id="getPublicStaExistCheck" resultMap="publicStaMap"
		parameterType="com.gzw.entity.datasta.PublicSta">
		select * from
		publicl_starules t
		<where>
			t.isDel = 0
			<if test="publicStaruleNum != null and  publicStaruleNum != ''">
				<bind name="publicStaruleNum" value="publicStaruleNum" />
				and t.publicStaruleNum = #{publicStaruleNum}
			</if>
			<if test="publicStaruleName != null and  publicStaruleName != ''">
				<bind name="publicStaruleName" value="publicStaruleName" />
				and t.publicStaruleName = #{publicStaruleName}
			</if>
			<!-- <if test="id != null and  id != ''">
				<bind name="id" value="id" />
				and t.id != #{id}
			</if> -->
		</where>
	</select>

	<!-- 添加信息 -->
	<insert id="addPublicStaInfo" useGeneratedKeys="true"
		keyProperty="id"
		parameterType="com.gzw.entity.datasta.PublicSta">
		insert into publicl_starules
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="publicStaruleNum != null">
				publicStaruleNum,
			</if>
			<if test="publicStaruleName != null">
				publicStaruleName,
			</if>
			<if test="ruleDescription != null">
				ruleDescription,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="version != null">
				version,
			</if>
		
			<if test="createPersonName != null">
				createPersonName,
			</if>
			<if test="createPersonId != null">
				createPersonId,
			</if>
			<if test="createDate != null">
				createDate,
			</if>
			<if test="lastModifyPersonId != null">
				lastModifyPersonId,
			</if>
			<if test="lastModifyPersonName != null">
				lastModifyPersonName,
			</if>
			<if test="lastModifyDate != null">
				lastModifyDate,
			</if>
			<if test="isDel != null">
				isDel
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="publicStaruleNum != null">
				#{publicStaruleNum},
			</if>
			<if test="publicStaruleName != null">
				#{publicStaruleName},
			</if>
			<if test="ruleDescription != null">
				#{ruleDescription},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			
			<if test="version != null">
				#{version},
			</if>

			<if test="createPersonName != null">
				#{createPersonName},
			</if>
			<if test="createPersonId != null">
				#{createPersonId},
			</if>
			<if test="createDate != null">
				#{createDate},
			</if>
			<if test="lastModifyPersonId != null">
				#{lastModifyPersonId},
			</if>
			<if test="lastModifyPersonName != null">
				#{lastModifyPersonName},
			</if>
			<if test="lastModifyDate != null">
				#{lastModifyDate},
			</if>
			<if test="isDel != null">
				#{isDel}
			</if>
		</trim>
	</insert>

	<!-- 修改信息 -->
	<update id="updatePublicStaInfoById"
		parameterType="com.gzw.entity.datasta.PublicSta">
		update publicl_starules
		<set>
			<if test="publicStaruleNum != null">
				publicStaruleNum = #{publicStaruleNum},
			</if>
			<if test="publicStaruleName != null">
				publicStaruleName = #{publicStaruleName},
			</if>
			<if test="ruleDescription != null">
				ruleDescription = #{ruleDescription},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			
			<if test="version != null">
				version = #{version},
			</if>			
			<if test="createPersonName != null">
				createPersonName = #{createPersonName},
			</if>
			<if test="createPersonId != null">
				createPersonId = #{createPersonId},
			</if>
			<if test="createDate != null">
				createDate = #{createDate},
			</if>
			<if test="lastModifyPersonId != null">
				lastModifyPersonId = #{lastModifyPersonId},
			</if>
			<if test="lastModifyPersonName != null">
				lastModifyPersonName = #{lastModifyPersonName},
			</if>
			<if test="lastModifyDate != null">
				lastModifyDate = #{lastModifyDate},
			</if>
			<if test="isDel != null">
				isDel = #{isDel},
			</if>
			
		</set>
		where id = #{id}
	</update>
</mapper>